:root {
    --web-background-primary: #FFFFFF;
    --web-text-primary: #000000;
    --web-border-primary: #FFFFFF1F;
}

[data-web-mode="light"] {
    --web-background-primary: #FFFFFF;
    --web-text-primary: #000000;
    --web-border-primary: #FFFFFF1F;
}

