.console-view-soft {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.console-view-soft .div {
  background-color: var(--themes-color-background);
  height: 832px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.console-view-soft .content {
  align-items: flex-start;
  display: flex;
  height: 776px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 1280px;
}

.console-view-soft .column {
  align-items: flex-start;
  align-self: stretch;
  border-color: var(--themes-color-border-secondary);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px;
  position: relative;
  width: 480px;
}

.console-view-soft .header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.console-view-soft .text-wrapper {
  color: var(--themes-color-text-primary);
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.console-view-soft .items {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.console-view-soft .item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.console-view-soft .section-header {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 100%;
}

.console-view-soft .text-wrapper-2 {
  color: var(--themes-color-text-primary);
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
}

.console-view-soft .input-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--themes-color-input-background);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.console-view-soft .input {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--themes-color-border-secondary);
  border-radius: var(--themes-border-radius-small);
  display: flex;
  gap: 8px;
  height: 32px;
  padding: 8px 8px 8px 12px;
  position: relative;
  width: 100%;
}

.console-view-soft .icon-instance-node {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.console-view-soft .text-wrapper-3 {
  color: var(--themes-color-text-primary);
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
}

.console-view-soft .div-wrapper {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--themes-color-border-secondary);
  border-radius: var(--themes-border-radius-small);
  display: flex;
  height: 32px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
}

.console-view-soft .enter-a-name {
  background: transparent;
  border: none;
  color: var(--themes-color-text-tertiary);
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  padding: 0;
  position: relative;
}

.console-view-soft .input-2 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--themes-color-border-secondary);
  border-radius: var(--themes-border-radius-small);
  display: flex;
  height: 80px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
}

.console-view-soft .text-wrapper-4 {
  color: var(--themes-color-text-tertiary);
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
}

.console-view-soft .items-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.console-view-soft .item-2 {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--themes-color-border-secondary);
  display: flex;
  gap: 12px;
  height: 40px;
  position: relative;
  width: 100%;
}

.console-view-soft .info {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.console-view-soft .text-wrapper-5 {
  color: var(--themes-color-text-secondary);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.console-view-soft .toggle {
  background-color: var(--themes-color-button-fill);
  border-radius: 24px;
  height: 16px;
  overflow: hidden;
  position: relative;
  width: 28px;
}

.console-view-soft .ellipse-2 {
  background-color: var(--themes-color-button-text);
  border-radius: 6px;
  height: 12px;
  left: 14px;
  position: relative;
  top: 2px;
  width: 12px;
}

.console-view-soft .ellipse-wrapper {
  background-color: var(--themes-color-border-secondary);
  border-radius: 24px;
  height: 16px;
  overflow: hidden;
  position: relative;
  width: 28px;
}

.console-view-soft .ellipse-3 {
  background-color: var(--themes-color-text-tertiary);
  border-radius: 6px;
  height: 12px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 12px;
}

.console-view-soft .column-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 32px;
  padding: 40px;
  position: relative;
}

.console-view-soft .window {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--themes-color-border-secondary);
  border-radius: var(--themes-border-radius-small);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.console-view-soft .grid {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 728px;
  left: 0;
  padding: 16px 0px 0px 16px;
  position: absolute;
  top: 104px;
  width: 1280px;
}

.console-view-soft .row-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.console-view-soft .design-component-instance-node {
  background-color: var(--themes-color-dot) !important;
}

.console-view-soft .row-2 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-bottom: -3px !important;
  width: 100% !important;
}

.console-view-soft .row-3 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-bottom: -20px !important;
  width: 100% !important;
}

.console-view-soft .row-4 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-bottom: -37px !important;
  width: 100% !important;
}

.console-view-soft .row-5 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-bottom: -54px !important;
  width: 100% !important;
}

.console-view-soft .row-6 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  margin-bottom: -71px !important;
  width: 100% !important;
}

.console-view-soft .top {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--themes-color-border-secondary);
  display: flex;
  gap: 8px;
  height: 56px;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.console-view-soft .selection {
  align-items: center;
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  height: 28px;
  position: relative;
}

.console-view-soft .selection-2 {
  align-items: center;
  align-self: stretch;
  border-radius: 24px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 12px;
  position: relative;
}

.console-view-soft .text-wrapper-6 {
  color: var(--themes-color-text-primary);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.console-view-soft .text-wrapper-7 {
  color: var(--themes-color-text-secondary);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.console-view-soft .selection-3 {
  align-items: center;
  display: inline-flex;
  gap: 12px;
  justify-content: flex-end;
  left: 656px;
  position: absolute;
  top: 19px;
}

.console-view-soft .icon-instance-node-2 {
  height: 18px !important;
  position: relative !important;
  width: 18px !important;
}

.console-view-soft .line {
  background-color: var(--themes-color-button-fill);
  height: 3px;
  left: 28px;
  position: absolute;
  top: 53px;
  width: 68px;
}

.console-view-soft .main {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.console-view-soft .main-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.console-view-soft .chat {
  align-items: center;
  background-color: var(--themes-color-input-background);
  border: 1px solid;
  border-color: var(--themes-color-border-primary);
  border-radius: var(--themes-border-radius-medium);
  box-shadow: 0px 1px 24px #00000014;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 480px;
}

.console-view-soft .composer {
  align-items: center;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--themes-color-border-secondary);
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: center;
  padding: 0px 6px 0px 16px;
  position: relative;
  width: 100%;
}

.console-view-soft .text-wrapper-8 {
  color: var(--themes-color-text-secondary);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.console-view-soft .main-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.console-view-soft .message {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  justify-content: center;
  padding: 0px 16px 16px;
  position: relative;
  width: 100%;
}

.console-view-soft .avatar {
  background-image: url(../../../static/img/ellipse.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  position: relative;
  width: 24px;
}

.console-view-soft .container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.console-view-soft .p {
  color: var(--themes-color-text-primary);
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
}

.console-view-soft .message-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 0px 16px 16px;
  position: relative;
  width: 100%;
}

.console-view-soft .avatar-2 {
  background-image: url(../../../static/img/ellipse-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  position: relative;
  width: 24px;
}

.console-view-soft .container-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.console-view-soft .text-wrapper-9 {
  align-self: stretch;
  color: var(--themes-color-text-primary);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
}

.console-view-soft .composer-2 {
  align-items: center;
  align-self: stretch;
  border-color: var(--themes-color-border-secondary);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 40px;
  padding: 0px 6px 0px 16px;
  position: relative;
  width: 95%;
}

.console-view-soft .text-wrapper-10 {
  color: var(--themes-color-text-tertiary);
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
}

.console-view-soft .icon-button {
  background-color: var(--themes-color-button-fill);
  border-radius: var(--themes-border-radius-small);
  height: 24px;
  position: relative;
  width: 24px;
}

.console-view-soft .send-email-paper {
  height: 12px !important;
  left: 6px !important;
  position: absolute !important;
  top: 6px !important;
  width: 12px !important;
}

.console-view-soft .sidebar {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--themes-color-border-secondary);
  display: flex;
  gap: 2px;
  height: 48px;
  left: 0;
  padding: 16px;
  position: absolute;
  top: 0;
  width: 720px;
}

.console-view-soft .top-2 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--themes-color-border-secondary);
  display: flex;
  gap: 8px;
  height: 56px;
  left: 0;
  padding: 0px 24px;
  position: absolute;
  top: 0;
  width: 1200px;
}

.console-view-soft .left {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.console-view-soft .text-wrapper-11 {
  color: var(--themes-color-text-primary);
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.console-view-soft .button {
  all: unset;
  align-items: center;
  background-color: var(--themes-color-button-fill);
  border-radius: var(--themes-border-radius-small);
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  height: 28px;
  justify-content: center;
  padding: 16px 12px;
  position: relative;
}

.console-view-soft .text-wrapper-12 {
  color: var(--themes-color-button-text);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: -9px;
  margin-top: -11px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
